<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <form (ngSubmit)="onSubmit()">
     <ion-item>
       <ion-label position="stacked">Descrição</ion-label>
       <ion-textarea [(ngModel)]="task.description" name="description" rows="5"></ion-textarea>
     </ion-item>
      <ion-button color="tertiary" expand="block" type="submit"> 
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        Salvar </ion-button>

   </form>

</ion-content>
